@model List<Menu>
@{
    ViewData["Title"] = "Choose from our pre-made Menus";
}

    <script src="~/js/Menu.js"></script>

    <div class="container" id="menuList">
        @* Dynamic DOM-building with Javascript*@
    </div>