@model List<Menu>
@{
    ViewData["Title"] = "Assemble the Menu";
}
    <script src="~/js/menumanager.js"></script>

    <div class="container">
        <div class="card-deck m-3" id="menuList">
            @* Dynamic DOM-building with Javascript*@
        </div>

    </div>