@model List<Menu>
@{
    ViewData["Title"] = "Assemble the Menu";
}
    <script src="~/js/menumanager.js"></script>

    <div class="container">
        <a onclick="modifyMenuActivity()" class="btn btn-success text-light mt-4 mb-2">Save</a>

        <form class="card-deck m-3" id="menuList" method="post">
            @* Dynamic DOM-building with Javascript*@
        </form>

    </div>